* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit-VariableFont_wght;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: Outfit-VariableFont_wght;
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: YoungSerif-Regular;
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    background-color: var(--Stone-100);
    padding: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    background-color: var(--White);
    border-radius: 15px;
    padding: 40px;
}

img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    color: var(--Stone-900);
    font-family: YoungSerif-Regular;
    font-weight: 400;
    margin-top: 25px;
    font-size: 40px;
}

p {
    color: var(--Stone-600);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perparationtime h3 {
    color: var(--Rose-800);
    font-size: 20px;

}

.perparationtime {
    background-color: var(--Rose-50);
    border-radius: 15PX;
    padding: 16PX;
    line-height: 35PX;
    padding-left: 45px;
}

.perparationtime ul {
    padding-left: 18px;
    color: var(--Stone-600);
}

h2 {
    color: var(--Brown-800);
    font-family: YoungSerif-Regular;
    font-weight: 400;
    font-size: 25px;
    padding: 15px 0px 10px 0px;
}


ul {
    padding-left: 18px;
    color: var(--Stone-600);
    line-height: 30PX;
    font-size: 16px;
}

.lastchild {
    padding-bottom: 30px;
}

ol {
    padding: 0px 5px 10px 35px;
    line-height: 36PX;
    font-size: 16px;
    color: var(--Stone-600);
}

tr {
    border-bottom: 1px solid var(--Stone-900);
}

td {
    color: var(--Stone-600);
    line-height: 36PX;
    font-size: 16px;
    padding-right: 300px;
    font-weight: 500;
}

.number {
    color: var(--Brown-800);
    font-weight: 700;
}


@media (max-width:375px) {
    .container {
        width: 98%;
        padding:20px;
    }

    body {
        padding: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    td{
        padding-right: 100px; 
    }
}